name: TESTES FRONT-END

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest  # Define o sistema operacional

    steps:
      - name: Checkout do c贸digo
        uses: actions/checkout@v4  # Baixa o c贸digo do reposit贸rio

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18  # Defina a vers茫o do Node.js

      - name: Instalar depend锚ncias
        run: npm ci  # Usa 'ci' para builds mais r谩pidos e reproduz铆veis (puxa do arquivo package-lock as dependencias)

      - name:  Verificar Lint
        run: npm run lint  # Verifica problemas no c贸digo

      - name: SUBIU O CI
        run: echo "SUBIU O CI FRONT-END"

